body {
    background: linear-gradient(150deg, #303F9F, #3E2723);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .counter {
    text-align: center;
  }
  
  .counter h1 {
    color: white;
  }

  .counter p {
   padding-bottom: 30px;
    font-size: 2rem;
    margin: 0;
    color: black; /* Definido para preto como padrão */
  }
  
  .counter p.green {
    color: green; /* Altera a cor do número para verde */
  }
  
  .counter p.red {
    color: red; /* Altera a cor do número para vermelho */
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0455ac;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .buttons button:hover {
    background-color: #006de2;
  }
